@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
}

.dark .prose {
  @apply prose-invert;
}

.dark {
  @apply bg-zinc-900
}

.dark .noblogs, .dark .publiclabel {
  @apply text-gray-400;
}